/* reset code s */
* { 
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    background: #e9ebee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
body {
    margin-top: 43px;
}
ol,ul,li,p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    list-style-type: none;
}
.clear {
    display: block;
    clear: both;
}
.clear::after {
    content:'';
    display: block;
    clear: both;
}
/* reset code e */
/* layout code s */
.App-container {
    width: 1012px;
    max-width: 100%;
    margin: 0 auto;
}
/* layout code e */
/* header s */
.App-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 43px;
    background: #4267b2;
    border-bottom: 1px solid #3a5381;
    box-sizing: border-box;
}
.App-header-wrap {
    width: 1012px;
    max-width: 100%;
    padding: 0 8px;
    margin: 0 auto;
}
.side-menu-wrap {
    float: right;
    width: 460px;
    min-width: 200px;
}
/* header e */
/* main content s */
.contents-wrap {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    outline: 1px solid #999;
}
/* main content e */
/* newsFeed s */
.newsFeed-wrap {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #dddfe2;
    background: #fff;
}
/* newsFeed e */
/* widget-wrap s */
.widget-wrap {
    position: fixed;
    width: 208px;
    height: 356px;
    right: 66px;
    bottom: 0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.3);
}
/* widget-wrap e */
/* media.css */
@media only screen and (max-width: 750px) {
    .App-container {
        width: 750px;
        max-width: 750px;
    }
}