/* * {
    margin: 0;
}
.app-wrap {
  position:relative;
}
.App-header {
    width: 100%;
    height: 43px;
    background: #4267b2;
    border-bottom: 1px solid #3a5381;
    box-sizing: border-box;
}
.App-header-wrap {
    width: 100%;
    max-width: 1012px;
    padding: 0 8px;
    margin: 0 auto;
}
.cont-wrap {
  position:absolute;
  left: 0;
  top: 43px;
} */

/* reset code s */
html, body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
body {
    margin-top: 43px;
}
ol,ul,li,p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    list-style-type: none;
}
.clear {
    display: block;
    clear: both;
}
.clear::after {
    content:'';
    display: block;
    clear: both;
}
/* reset code e */
/* header s */
.App-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 43px;
    background: #4267b2;
    border-bottom: 1px solid #3a5381;
    box-sizing: border-box;
}
.App-header-wrap {
    width: 1012px;
    max-width: 100%;
    padding: 0 8px;
    margin: 0 auto;
}
/* 추가 , 메뉴 수정시 width값 변경으로 깨지는 부분 고민.. */
.side-menu-wrap {
    float: right;
    width: 460px;
    min-width: 200px;
}
@media only screen and (max-width: 750px) {
    .App-header-wrap {
        width: 750px;
        max-width: 750px;
    }
}
/* header e */
/* newsFeed e */
.newsFeed-wrap {
    width: 100%;
    max-width: 1012px;
    margin: 0 auto;
    border: 1px solid red;
}