* {box-sizing: border-box;}

.user-wrap {
    float: left;
    margin: 7.5px 0;
}
.list-wrap {
    float: left;
    padding: 0;
}
.list {
    float: left;
    line-height: 42px;
    list-style-type: none;
}
.list-link {
    display: inline-block;
    position: relative;
    height: 27px;
    padding: 0 12px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 27px;
    text-decoration: none;
}
.list-link::before {
    content:"";
    position: absolute;
    width: 1px;
    height: 15px;
    left: 0;
    top: 6px;
    background: #425e9b;
}
.list-link:hover {
    border-radius: 5px;
    background: #425e9b;
}