/* logo CSS */
.logoImg {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 8px;
    background: url(../../../images/ico_logo.png) no-repeat 0 / 24px;
}
/* SearchBar CSS */
.searchform-wrap {
    position: relative;
    width: 76%;
    height: 26px;
    border: 1px solid #3a5998;
    border-radius: 3px;
    background: #fff;
}