/* logo CSS */
.logo {
    position: relative;
    float: left;
    width: 24px;
    height: 24px;
}
.logoImg {
    display: inline-block;
    position: absolute;
    top: 9px;
    width: 24px;
    height: 24px;
    background: url(../images/ico_logo.png) no-repeat 0 / 24px;
}
/* SearchBar CSS */
.SearchForm-wrap {
    position: relative;
    float: left;
    max-width: 35%;
    width: 450px;
    height: 26px;
    margin: 8px 6px;
    border: 1px solid #3a5998;
    border-radius: 4px;
    background: #fff;
}