/* searchList CSS */
.searchList-title {
    height: 32px;
    padding: 0 0 0 12px;
    color: #90949c;
    border-bottom: 1px solid #e9eaed;
    font-size: 11px;
    font-weight: bold;
    line-height: 32px;
    background: #f5f6f7;
}
.searchList-items {
    height: 32px;
    color: #1d2129;
    font-size: 14px;
}