/* PostForm.css */

/* PostForm background */
/* .postform-on-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 9997;
} */
/* PostForm input UI */
.postform-wrap {
  width: 502px;
  margin: 12px 0 0;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  background: #fff;
  z-index: 9995;
}
.postform-on {
  position: absolute;
  top: 43px;
}
.postform-title {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  border-bottom: 1px solid #dddfe2;
  border-radius: 5px 5px 0 0;
  background: #f5f6f7;
  color: #4b4f56;
  font-size: 12px;
  font-weight: bold;
  line-height: 33px;
}
.postform-textarea {
  overflow: visible;
  display: flex;
  align-items: center;
  align-items: flex-start;
}
.postform-userIco {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 15px 0 0 12px;
  border: 1px solid rgb(194, 195, 199);
  border-radius: 50%;
}
.postform-input {
  flex: 1;
  width: 488px;
  /* height: 71px; */
  padding: 26px 48px 13px 12px;
  border: none;
  outline: none;
  color: #4b4f56;
  font-size: 14px;
}
.postform-input::placeholder {
  color: #999;
}
.postform-input-on {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 23px;
  font-weight: normal;
}
.postform-close {
  border: none;
  background: rgba(0,0,0,0) url() no-repeat;
  /* color: transparent; */
}

/* PostForm items UI */
.postform-items {
  display: flex;
  border-top: 1px solid #e9ebee;
  padding: 12px 0;
  margin: 0 8px;
}
.postform-item {
  line-height: 32px;
  border-radius: 30px;
  padding: 0 15px 0 35px;
  margin: 0 1%;
  border: none;
  background: #f5f6f7;
  color: #4b4f56;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.postform-item:hover {
  background: #e9ebee
}
.postform-item:nth-child(1)::before {
  /* background: url() no-repeat; */
}
.postform-item:nth-child(2)::before {

}
.postform-item:nth-child(3)::before {
  
}
.postform-item:nth-child(4)::before {
  
}
.postform-item:nth-child(4) {
  color: transparent;
  letter-spacing: -10px;
}
.postform-opts {
  padding: 0 12px 10px;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #dddfe2;
  background: #f5f6f7;
}
.postform-opt {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  color: #1d2129;
}
.postform-opt-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  line-height: 44px;
}
.postform-opt-list:hover {
  background: #ebedf0;
}
.postform-opt-list-select {
  position: relative;
  flex: 1;
  cursor: pointer;
}
.postform-opt-list-select::before {
  content:'';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 3px;
  margin: 13px 0;
  border: 2px solid #4b4f56;
  border-radius: 50%;
  cursor: pointer;
}
.postform-opt-list-select::after {
  content:'';
  position: absolute;
  width: 38px;
  height: 38px;
  left: 30px;
}
.postform-opt-checkbox:checked + .postform-opt-list-select::before {
  border: 2px solid #4e79c9;
  background: #4e79c9;
}
.postform-opt-checkbox {
  display: none;
}
.postform-opt-list-name {
  margin-left: 80px;
  cursor: pointer;
}
.postform-opt-box {
  position: relative;
}
.postform-opt-box-selected {
  position: relative;
  padding: 0 21px 0 28px;
  color: #4b4f56;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  border: 1px solid #ccd0d5;
  border-radius: 2px;
  background: #f5f6f7;
  cursor: pointer;
  outline:none;
}
.postform-opt-box-selected:hover {
  background: #ebedf0;
}
.postform-opt-box-selected:focus {
  border: 1px solid #4e79c9;
  background: #4e79c9;
  color: #fff;
}
.postform-opt-box-selected:active {
  border: 1px solid #bec3c9;
  background-color: #dddfe2;
  color: #4b4f56;
  transform: scale(.98);
}
/* .postform-opt-box-selected:hover {
  border: 1px solid #29487d;
  background: #1f3669;
} */
.postform-opt-box-selected::before {
  content:'';
  position: absolute;
  width: 16px;
  height: 12px;
  margin-right: 4px;
  background: url() no-repeat;
}
.postform-opt-box-selected::after {
  content:'';
  position: absolute;
  width: 9px;
  height: 8px;
  margin-left: 4px;
  /* background: url() no-repeat; */
}
.postform-opt-box-list {
  position: absolute;
  top: calc(100% - 10px);
  right: 15px;
  width: 200px;
  /* padding: 1px; */
  /* border: 1px solid rgba(107, 107, 107, .5); */
  box-sizing: border-box;
  border-radius: 4px 0 4px 4px;
  background: #f5f6f7;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  z-index: 999;
}
.postform-opt-box-list:before {
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;
  border: 1px solid rgba(158, 158, 158, 0.5);
  border-radius: 4px 0 4px 4px;
  z-index: 998;
}
.postform-opt-box-item {
  /* width: 200px; */
  position: relative;
  z-index: 1000;
  padding: 10px 0 10px 35px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: #4b4f56;
  font-size: 11px;
  line-height: 1;
  cursor: pointer;
}
.postform-opt-box-item:first-child {

}
.postform-opt-box-title {
  display: inline-block;
  padding-bottom: 10px;
  color: #1d2129;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
}
.postform-opt-box-item:hover {
  background: #4267B2;
  border-top: 1px solid #29487d;
  border-bottom: 1px solid #29487d;
  color: #fff;
}
.postform-opt-box-item:hover .postform-opt-box-title {
  color: #fff;
}
.postform-submit {
  width: 100%;
  border: none;
  border-radius: 3px;
  background: #4e79c9;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
}
.postform-submit-off {
  opacity: 0.4;
}
.postform-input:focus .postform-submit {
  background: #4e79c9;
}