/* SignIn.scss */

.signin {
    height: 100vh;
    background: linear-gradient(white, #D3D8E8);
    
    &__header {
        border-bottom: 1px solid #133783;
        background: linear-gradient(#4e69a2, #3b5998 50%);
        
        &__inbox {
            display: flex;
            justify-content: space-between;
            padding: 13px 10px 0;
        }
    }

    &__main {

        &__inbox {
            display: flex;
            padding: 20px 10px;
        }
    }

    &__footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        color: #737373;
        font-size: 12px;

        &__inbox {
            padding: 20px 10px;
        }
    }

    .inbox {
        max-width: 1000px;
        margin: 0 auto;
    }
}


.header {
    
    &__left {
        width: 170px;
        height: 33px;
    }
}

.logo {

    &__img {
        display: inline-block;
        width: 100%;
        margin-top: 17px;
    }
}

.login {
    &__form {
        display: flex;
        align-items: flex-end;
        color: #fff;
        font-size: 12px;
        
        &__label {
            display: inline-block;
            margin-right: 17px;

            &__input {
                display: block;
                width: 150px;
                height: 24px;
                padding: 3px 3px 4px;
                margin: 4px 0 0;
                border: 1px solid #1d2a5b;
                background: #e8f0fe;
            }
        }
            
        &__submit {
            padding: 2px 6px;
            margin-bottom: -1px;
            text-align: center;
            line-height: 20px;
            border: 1px solid #29487d;
            border-radius: 2px;
            background: #4267b2;
            color: #fff;
            font-weight: bold;
        }

        &__submit:hover {
            border: 1px solid #29487d;
            background: #365899;
        }
    }

    &__searchId {
        display: inline-block;
        margin: 5px 0;
        color: #9cb4d8;
        font-size: 12px;
    }

    &__searchId:hover {
        text-decoration: underline;
    }
}

.main {

    &__left {
        width: 580px;
        padding-right: 48px;
    }

    &__right {
        width: 400px;
    }
}

.signup {

    &__title {
        margin-bottom: 20px;
        color: #333;
        font-size: 36px;
        font-weight: bold;

        &__desc {
            display: block;
            margin-top: 5px;
            font-size: 19px;
            font-weight: normal;
        }
    }

    &__log {
        display: flex;
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;

        &__ico {
            overflow: hidden;
            flex-wrap: wrap;
            width: calc((100% / 3) - 20px);
            margin-right: 20px;
            background: #fff;
            display: inline-block;
            border: 5px solid transparent;
            border-radius: 7px;
            transition: all .2s ease-out;
            cursor: pointer;

            img {
                width: 100%;
            }
        }
        &__ico:hover {
            border: 5px solid transparent;
            box-shadow: 0px 2px 7px 5px rgba(0,0,0,.1);
        }
        &__name {
            color: #4b4f56;
            line-height: 46px;
        }
    }

    &__form {

        &__desc {
            color: #777;
            font-size: 11px;
            margin-right: 1rem;

            em {
                color: #385898;
                font-style: normal;
            }
        }
        &__btn {
            width: 50%;
            height: 39px;
            margin: 30px 0 40px;
            border: 1px solid #2c5115;
            border-radius: 5px;
            box-shadow: inset 0 1px 1px #a4e388;
            background: linear-gradient(#67ae55, #578843);
            color: #fff;
            font-size: 19px;
            font-weight: bold;
        }
    }
}

.input {

    &__signup {
        height: 39px;
        padding: 8px 10px;
        margin-bottom: 10px;
        border: 1px solid #bdc7d8;
        border-radius: 8px;
        font-size: 18px;
    }
    &__signup-s {
        width: 50%;
    }
    &__signup-m {
        width: 100%;
    }
    &__signup-space {
        width: calc(50% - 10px);
        margin-right: 10px;
    }
}

.info {

    &__title {
        margin: 10px 0 5px;
        color: #90949c;
        font-size: 16px;
        font-weight: bold;
    }
    label {
        color: #1d2129;
        padding: 2px 4px;
        margin-right: 5px;
    }
    &__radio {
        margin: 3px 6px 3px 3px;
    }
    &__help {
        position: relative;
        display: inline;

        &__btn {
            width: 16px;
            height: 16px;
            margin-left: 10px;
            border: none;
            background: transparent url(../../../images/login_ico.png) no-repeat -22px -1px/43px;
            color: transparent;
            letter-spacing: -10px;
        }

        &__box {
            position: absolute;
            width: 312px;
            top: -10px;
            right: 30px;
            padding: 12px 12px 0;
            border-radius: 2px;
            background: #fff;
            font-size: 12px;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
        }
        &__box::before {
            content:'';
            position: absolute;
            width: 12px;
            height: 12px;
            transform: rotate(45deg);
            top: 15px;
            right: -7px;
            border-right: 1px solid rgba(0, 0, 0, .30);
            border-top: 1px solid rgba(0, 0, 0, .30);
            background: #fff;
        }
    }

    &__gender {

        &__form {
            width: 100%;
            height: 30px;
            border: 1px solid #ccd0d5;
            margin-top: 20px;

        }
        &__desc {
            margin: 5px 0 10px;
            color: #606770;
            font-size: 12px;
        }
        &__input {
            width: 100%;
        }
    }
}

.select {

    &-border {
        height: 30px;
        border: 1px solid #bdc7d8;
    }
    &__yyyy {
        width: 57px;
    }
    &__mm {
        width: 50px;
    }
    &__dd {
        width: 41px;
    }
}
.box {

    &__desc {
        padding-bottom: 12px;
        color: #1c1e21;
        border-bottom: 1px solid #dddfe2;
    }
    &__btn {
        text-align: right;

        &-normal {
        padding: 0 8px;
        margin: 8px 0;
        border: none;
        border-radius: 3px;
        background: #4267b2;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        line-height: 24px;
        }
    }
}
