/* App.css */

/* reset code */
* { 
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    background: #e9ebee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
ol,ul,li,p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.clear {
    display: block;
    clear: both;
}
.clear::after {
    content:'';
    display: block;
    clear: both;
}