/* CommentForm.css */
.commentWrapper {
    width: 500px;
}
.commentListWrapper {
    margin: 4px 0 0;
}
.commentBox {
    height: 44px;
    padding: 2px 12px 8px;
}
.commentUserInfo {
    float: left;
    width: 32px;
    height: 32px;
    margin: 0 6px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: url(../../../images/profile.png) no-repeat center/110%;
}
.commentBar {
    float: left;
    width: 438px;
    height: 32px;
    /* padding: 8px 12px; */
    border: 1px solid #ccd0d5;
    border-radius: 16px;
    background: #e9ebee;
}
.commentInput {
    float: left;
    width: 312px;
    padding: 8px 12px;
    color: #8d949e;
    border: none;
    outline: none;
    background: transparent;
    line-height: 16px;
}
.commentNum {
    clear: both;
    color: #606770;
    font-size: 13px;
    text-align: right;
}
.attachBox {
    float: right;
    width: 112px;
    height: 32px;
    margin: 0 12px 0 0;
}
.attachIconLink {
    float: left;
    width: 16px;
    height: 16px;
    margin: 8px 6px;
    background: url(../../../images/feed_icons.png) no-repeat 0 / 64px;
}
.attachIcon {
    background-position: -17px -277px;
}
.attachFile {
    background-position: -17px -260px;
}
.attachGIF {
    background-position: -17px -294px;
}
.attachSticker {
    background-position: -17px -328px;
}

.attachIcon:hover {
    background-position: 0 -277px;
}
.attachFile:hover {
    background-position: 0 -260px;
}
.attachGIF:hover {
    background-position: 0 -294px;
}
.attachSticker:hover {
    background-position: 0 -328px;
}

.attachIcon:focus {
    background-position: -68px -277px;
}
.attachFile:focus {
    background-position: -68px -260px;
}
.attachGIF:focus {
    background-position: -68px -294px;
}
.attachSticker:focus {
    background-position: -68px -328px;
}