/* CommentItem.css */
.itemCommentWrapper {
    padding: 4px 12px;
}
.itemUserInfo {
    float: left;
    width: 32px;
    height: 32px;
    margin: -5px 6px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: url(../../../images/profile.png) no-repeat center/110%;
}
.itemText {
    width: 100%;
    padding: 8px 10px;
    border-radius: 18px;
    background: #f2f3f5;
    color: #1c1e21;
    font-size: 13px;
    line-height: 16px;
    white-space: normal;
}
.itemUserName {
    padding: 0 8px 0 0;
    color: #385898;
    font-weight: bold;
}
.itemRemove {
    margin: 0 0 0 10px;
    cursor: pointer;
}
.iteminfo {
    padding: 0 0 0 28px;
    margin: 3px 10px;
    color: #385898;
    font-size: 12px;
    line-height: 16px;
}
.iteminfo span {
    position: relative;
    margin: 0 5px;
}
.iteminfo span ~ span::before {
    content:'';
    position: absolute;
    top: 6px;
    left: -9px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #8d949e;
}
.itemTime {
    color: #606770;
}