/* CommentItem.css */
.itemCommentWrapper {
    padding: 4px 12px;
}
.itemCommentBox {
    position: relative;
}
.itemUserInfo {
    float: left;
    width: 32px;
    height: 32px;
    margin: -5px 6px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: url(../../../images/profile.png) no-repeat center/110%;
}
.itemText {
    width: 100%;
    padding: 8px 10px;
    border-radius: 18px;
    background: #f2f3f5;
    color: #1c1e21;
    font-size: 13px;
    line-height: 16px;
    white-space: normal;
}
.itemUserName {
    padding: 0 8px 0 0;
    color: #385898;
    font-weight: bold;
}
.itemCommentSetBox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
    background: url(../../../images/feed_icons.png) no-repeat 0 -175px / 64px;
    cursor: pointer;
}
.itemCommentSetBox:hover {
    background-position: -21px -175px;
}
/* .itemCommentSetBox:focus .itemCommentSetTitle {
    display: block;
} */
.itemCommentSetTitle {
    /* display: none; */
    position: absolute;
    right: -34px;
    bottom: calc(100% - 3px);
    padding: 6px 9px;
    border-radius: 2px;
    background: #000;
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    z-index: 9;
}
.itemCommentSetTitle::after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top: 5px solid #000;
}
.itemCommentSetListBox {
    position: absolute;
    width: 100px;
    top: calc(100% + 12px );
    right: -23px;
    padding: 5px 0;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 3px 8px rgba(0,0,0,.3);
    z-index: 9;
}
.itemCommentSetListBox::after {
    content:'';
    position: absolute;
    width: 16px;
    height: 8px;
    left: 60%;
    bottom: 100%;
    /* transform: translateX(-50%); */
    background: url(../../../images/feed_icons.png) no-repeat -37px -382px / 64px;
}
.itemCommentSetList {
    padding: 0 10px;
}
.itemCommentSetList:hover {
    background: #4267B2;
}
.itemCommentSetList a {
    position: relative;
    display: block;
    height: 22px;
    line-height: 22px;
    padding: 0 0 0 20px;
    color: #1d2129;
}
.itemCommentSetList a::before {
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 4px;
    background: url(../../../images/feed_icons.png) no-repeat 0 / 64px;
}
.itemCommentSetList:nth-child(1) a::before {
    background-position: -51px -349px;
}
.itemCommentSetList:nth-child(2) a::before {
    background-position: -51px -366px;
}
.itemCommentSetList a:hover {
    color: #fff;
}
/* .itemCommentSetList a {

} */
.iteminfo {
    padding: 0 0 0 28px;
    margin: 3px 10px;
    color: #385898;
    font-size: 12px;
    line-height: 16px;
}
.iteminfo span {
    position: relative;
    margin: 0 5px;
}
.iteminfo span ~ span::before {
    content:'';
    position: absolute;
    top: 6px;
    left: -9px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #8d949e;
}
.itemTime {
    color: #606770;
}