/* CommentForm.css */
.commentWrapper {
    width: 500px;
}
.commentListWrapper {
    margin: 4px 0 0;
}
.commentBox {
    height: 44px;
    padding: 2px 12px 8px;
}
.commentUserInfo {
    float: left;
    width: 32px;
    height: 32px;
    margin: 0 6px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: url(../../../images/profile.png) no-repeat center/110%;
}
.commentBar {
    float: left;
    width: 438px;
    height: 32px;
    /* padding: 8px 12px; */
    border: 1px solid #ccd0d5;
    border-radius: 16px;
    background: #f2f3f5;
}
.commentInput {
    float: left;
    width: 312px;
    padding: 8px 12px;
    color: #8d949e;
    border: none;
    outline: none;
    background: transparent;
    line-height: 16px;
}
.commentNum {
    clear: both;
    color: #606770;
    font-size: 13px;
    text-align: right;
}
.attachBox {
    float: right;
    width: 112px;
    height: 32px;
    margin: 0 12px 0 0;
}
.cmtAttach {
    float: left;
    width: 16px;
    height: 16px;
    margin: 8px 6px;
    background: url(../../../images/feed_icons.png) no-repeat;
}
.attachIcon {
    background-position: -34px -258px;
}
.attachFile {
    background-position: -34px -241px;
}
.attachGIF {
    background-position: -34px -275px;
}
.attachSticker {
    background-position: -34px -309px;
}